# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/vcs.xml

#config file
.config

#binary file
*.mp3
__pycache__/recoding_by_shell.cpython-311.pyc

